/* General */
* {
    font-family: 'Roboto', serif;
}

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

h1 {
    text-align: center;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #191970;
    border: 2px solid #14145a;
}

.btn-primary:hover {
    background-color: #C28008;
    border-color: #C28008;
}

/* navbar */
#navbar img {
    width: 80px;
    border-radius: 5px;
}

#navbar {
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
}

#navbar a {
    font-size: 14px;
    color: #757575;
}

#navbar a:hover {
    color: #F2A340;
}

.contas-container form{
    display: inline-block;
}

#contas-container {
    padding: 50px;
    margin: 0 auto;

}


#cards-container {
    display: block;
}

#contas-container .card {
    flex: 1 1 24%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}


.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card label{
    font-weight: bold;
}

.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-contas-container th{
    width: 25%;
}

.dashboard-contas-container form{
    display: inline-block;
}
/* footer */
footer {
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
